---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  return blog.map((post) => ({
    params: { id: post.data.id },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <a href="/blog">Go back to Blog</a>
  <Content />
</Layout>
