---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { id: project.data.id },
    props: { project },
  }));
}

const { project } = Astro.props;

const { Content } = await render(project);
---

<Layout title={project.data.title}>
  <a href="/projects">Go back to Projects</a>
  <Content />
</Layout>
